body{
  margin: 0;
  padding: 0;
  background-color: #E6D2CF;
  font-family: helvetica;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.itemCard{
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  display: flex;
}

.itemImg img{
  float: left;
  height: 420px;
  width: 327px; 
}

.itemInfo{
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}


.itemBtn button{
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;  
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #A69795;
  cursor: pointer;
  outline: none;
}

.itemBtn button:hover{
  background-color: #665D5C;
}